.pay-header {
  position: relative;
  padding: 0 .12rem;
  height: .88rem;
  background: #fff;
  font-size: .15rem;
  text-align: left;
}
.pay-header:after {
  content: "";
  position: absolute;
  right: .12rem;
  top: .38rem;
  width: .07rem;
  height: .155rem;
  background: url(../img/jiantou@2x.png) no-repeat center;
  background-size: 100%;
}
.pay-header > a:first-child {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
}
.pay-header > a:first-child > span {
  display: block;
  float: left;
  margin-top: .38rem;
  font-size: .16rem;
}
.pay-header > a:first-child > span:first-child {
  margin-top: .22rem;
  margin-right: .12rem;
  width: .44rem;
  height: .44rem;
  background: url(../img/tianjiadizhi.png) no-repeat center;
  background-size: 100%;
  border-radius: .02rem;
}
.pay-header > a:last-child {
  display: none;
  width: 100%;
  height: 100%;
  color: #333;
  overflow: hidden;
}
.pay-header > a:last-child:before {
  content: "";
  position: absolute;
  top: .34rem;
  left: .12rem;
  width: .155rem;
  height: .2rem;
  background: url(../img/dizhi.png) no-repeat center;
  background-size: 100%;
}
.pay-header > a:last-child > p {
  margin-left: .35rem;
}
.pay-header > a:last-child > p:first-child {
  margin-top: .25rem;
}
.pay-header > a:last-child > p:first-child > span:last-child {
  margin-left: .2rem;
}
.pay-header > a:last-child > p:last-child {
  margin-top: .12rem;
  font-size: .14rem;
  padding-right: .12rem;
  margin-bottom: .12rem;
  color: #666;
}
.orders-list > li:last-child {
  display: none;
}
.commodity-msg {
  padding: 0 .12rem;
  background: #fff;
  font-size: .14rem;
  text-align: left;
}
.commodity-msg > li:not(:last-child) {
  height: .49rem;
  border-bottom: 1px solid #EBEBEB;
  line-height: .49rem;
}
.commodity-msg > li:not(:last-child) > span {
  display: block;
  float: left;
}
.commodity-msg > li:not(:last-child) > span:last-child {
  float: right;
  color: #666;
}
.commodity-msg > li:not(:last-child):first-child > span:last-child {
  color: #DCB469;
  font-weight: 400;
}
.commodity-msg > li:last-child > span {
  display: block;
  margin-top: .18rem;
}
.commodity-msg > li:last-child > textarea {
  border: none;
  outline: none;
  display: block;
  margin-top: .18rem;
  padding: .1rem;
  width: 93.6%;
  height: .88rem;
  background: #f5f5f5;
  color: #999;
  border-radius: .02rem;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: .49rem;
  background: #fff;
  box-shadow: 0 -1px 10px 0 #ddd;
  font-size: .15rem;
  line-height: .49rem;
  text-align: left;
  color: #333;
}
.footer > span:first-child {
  margin-left: .12rem;
}
.footer > span:nth-child(2) {
  font-size: .16rem;
  color: #F01D40;
}
.footer > a {
  display: block;
  float: right;
  width: 1rem;
  height: 100%;
  background: #DFB55A;
  color: #fff;
  text-align: center;
}
