body {
  background: #f5f5f5;
}
.shop-calr-list {
  font-size: .14rem;
  text-align: left;
}
.shop-calr-list > li {
  margin-top: .05rem;
  height: 1rem;
  padding: 0 .12rem 0 .08rem;
  background: #fff;
  overflow: hidden;
}
.shop-calr-list > li > span {
  display: block;
  float: left;
  margin-top: .4rem;
  margin-right: .06rem;
  width: .17rem;
  height: .17rem;
  background: url(../img/weixuanze2.png) no-repeat center;
  background-size: 100%;
}
.shop-calr-list > li .active {
  background: url(../img/yixuanze2.png) no-repeat center;
  background-size: 100%;
}
.shop-calr-list > li > img {
  margin-top: .13rem;
  float: left;
  width: .73rem;
  height: .73rem;
}
.shop-calr-list > li > div {
  margin-top: .13rem;
  width: 2.4rem;
  float: right;
}
.shop-calr-list > li > div > div:nth-child(2) {
  margin-top: .29rem;
  float: left;
  color: #ea3b3b;
  font-size: .16rem;
}
.shop-calr-list > li > div > div:last-child {
  margin-top: .19rem;
  float: right;
  font-size: .16rem;
  color: #333;
  line-height: .18rem;
  text-align: center;
}
.shop-calr-list > li > div > div:last-child > a {
  box-sizing: border-box;
  display: block;
  float: left;
  width: .22rem;
  height: .22rem;
  border-radius: 100%;
  border: 1px solid #666;
  color: #333;
}
.shop-calr-list > li > div > div:last-child > span {
  display: block;
  float: left;
  padding: 0 .08rem;
  height: .22rem;
}
.placeholder2 {
  position: fixed;
  bottom: .55rem;
  width: 100%;
  height: .44rem;
}
.settle-accounts {
  position: fixed;
  bottom: .55rem;
  z-index: 99;
  width: 100%;
  height: .44rem;
  background: #fff;
  font-size: .15rem;
}
.settle-accounts > div:first-child {
  margin-top: .13rem;
  float: left;
}
.settle-accounts > div:first-child > span {
  display: block;
  float: left;
  color: #000;
}
.settle-accounts > div:first-child > span:first-child {
  margin-left: .08rem;
  margin-right: .08rem;
  width: .17rem;
  height: .17rem;
  background: url(../img/weixuanze2.png) no-repeat center;
  background-size: 100%;
}
.settle-accounts > div:first-child > span:first-child.active {
  background: url(../img/yixuanze2.png) no-repeat center;
  background-size: 100%;
}
.settle-accounts > div:last-child {
  float: right;
  height: 100%;
  line-height: .44rem;
}
.settle-accounts > div:last-child > span {
  display: block;
  float: left;
}
.settle-accounts > div:last-child > span:first-child {
  color: #8f8f8f;
}
.settle-accounts > div:last-child > span:nth-child(2) {
  color: #EA3B3B;
  margin-right: .08rem;
}
.settle-accounts > div:last-child > a {
  display: block;
  float: left;
  width: 1rem;
  height: 100%;
  background: #DFB55A;
  color: #fff;
}
